<ul class="accordion list-reset b-thin b-mid-light-gray" role="presentation">
	{{#each this}}
	<li class="p-20{{#position @index 1 operator=">"}} b-t-thin b-mid-light-gray{{/position}}">
		<h3 class="m-0">
			<a id="{{tab}}Tab" href="#{{tab}}Panel" class="block text-mid-gray hover:text-primary no-underline" data-role="accordion-toggle" aria-expanded="false" aria-controls="{{tab}}Panel">{{tab}}</a>
		</h3>
		<div id="{{tab}}Panel" class="max-h-0 o-hidden trs-mh" aria-labelledby="{{tab}}Tab" data-role="accordion-content">
			<p>{{content}}</p>
		</div>
	</li>
	{{/each}}
</ul>
